{% extends "base.html" %}

{% block title %} Reset Your Password {% endblock %}
{% block content %}
<br><br><br>
    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Reset Your Password</h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-3">
                        {{ form.password(size=32, class="form-control", placeholder="Enter your new password...") }}
                        <label for="password">New Password</label>
                        {% for error in form.password.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password2(size=32, class="form-control", placeholder="Confirm your new password...") }}
                        <label for="password2">Confirm New Password</label>
                        {% for error in form.password2.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <p>{{ form.submit(class="btn btn-secondary btn-lg") }}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
