{% extends "base.html" %}

{% block title %}
{{ category.name }} Expenses
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <a href="{{ url_for('main.categories')}}" class="btn btn-outline-secondary btn-sm">Back To Categories</a>
    <h1 class="my-4 fw-bolder text-center">{{ category.name }} Expenses</h1>
    {% if expenses %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Payment Method</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.name|capitalize }}</td>
                    <td>{{ expense.amount }}{{ ' $' }}</td>
                    <td>{{ expense.date.strftime('%d %b %Y') }}</td>
                    <td>{{ expense.payment.name }}</td>
                    <td>{{ expense.description|capitalize }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Tablonun altına sayfalama düğmelerini ve numaralarını ekle -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if prev_url %}
      <li class="page-item">
        <a class="page-link" href="{{ prev_url }}">&larr; Older</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&larr; Older</span>
      </li>
    {% endif %}

    {% for page_num in page_nums %}
      <li class="page-item{% if page_num == current_page %} active{% endif %}">
        <a class="page-link" href="{{ url_for('main.expense_history', page=page_num) }}">{{ page_num }}</a>
      </li>
    {% endfor %}

    {% if next_url %}
      <li class="page-item">
        <a class="page-link" href="{{ next_url }}">Newer &rarr;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Newer &rarr;</span>
      </li>
    {% endif %}
  </ul>
</nav>
    {% else %}
    <p class="fw-bold text-center">No expenses found 😥</p>
    {% endif %}

</div>

{% endblock %}