{% extends "base.html" %}

{% block title %}
Spend Categories
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Spend Categories</h1>
    <!-- Button to trigger modal -->
    <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
        Add New Category
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{{ url_for('categories') }}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for category in categories %}
        <div class="col">
            <div class="card h-100" onclick="window.location.href='{{ category.url }}';" style="cursor: pointer;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="card-text m-0">{{ category.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block styles %}
<style>
    .card {
        transition: all 0.3s ease; /* Düzgün bir geçiş sağlar */
    }

    .card:hover {
        transform: scale(1.05); /* Üzerine gelindiğinde biraz büyütme efekti */
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Gölgelendirme efekti */
    }
</style>
{% endblock %}
