{% extends "base.html" %}

{% block title %}
Expenses
{% endblock %}

{% block content %}
<h1>Expenses</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for expense in expenses %}
    <tr>
        <td>{{ expense.name }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ category_dict[expense.category_id]}}</td>
        <td>{{ expense.date }}</td>
        <td>{{ expense.description }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}


