{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 80vh;"> <!-- Kartı dikey ve yatayda merkezlemek için align-items-center ekledik -->
        <div class="col-lg-8"> <!-- Kartın genişliğini artırdık -->
            <div class="card shadow-sm border-0 rounded-4 p-4">
                <div class="card-body">
                    <h1 class="fw-bolder text-center mb-4">Welcome, {{ current_user.firstname|capitalize }}!</h1>
                    <p class="lead text-center">We are glad to see you here!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
    /* Card başlık arka plan rengini belirle */
    .card {
        background-color: rgba(201, 203, 207, 0.2);
    }
</style>
{% endblock %}
