{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block content %}
    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
        <div class="text-center mb-5">
            <!--div-- class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div-->
            <h1 class="fw-bolder">Login</h1>
            <p class="lead fw-normal text-muted mb-0">Please enter your credentials:</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-3">
                        {{ form.email(size=64, class="form-control", placeholder="name@example.com") }}
                        <label for="email">Email address</label>
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password(size=32, class="form-control", placeholder="Enter your password...") }}
                        <label for="password">Password</label>
                        {% for error in form.password.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-check mb-3">
                        {{ form.remember_me(class="form-check-input") }}
                        <label class="form-check-label" for="remember_me">{{ form.remember_me.label }}</label>
                    </div>
                    <!-- Submit button -->
                    <button class="btn btn-primary btn-lg" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    <p class="text-center mt-3">New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
{% endblock %}
