{% extends "base.html" %}

{% block title %}
    Reports
{% endblock %}

{% block content %}
    <h1 class="fw-bolder text-center my-5">Reports</h1>
    <br>

    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
            <div class="card mb-4">
                <div class="card-body d-flex flex-column justify-content-between">
                    <a href="{{ url_for('main.monthly_report')}}" class="card-body d-flex align-items-center justify-content-center text-decoration-none" style="color: inherit;">
                    <h5 class="m-4">Yearly Report</h5>
                </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card mb-4">
                <div class="card-body d-flex flex-column justify-content-between">
                    <a href="{{ url_for('main.category_report')}}" class="card-body d-flex align-items-center justify-content-center text-decoration-none" style="color: inherit;">
                    <h5 class="m-4">Spending Report</h5>
                </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block styles %}
<style>

    .card {
        transition: all 0.3s ease; /* Düzgün bir geçiş sağlar */
         background-color: rgba(75, 192, 192, 0.2);
    }
    .card:hover {
        transform: scale(1.05); /* Üzerine gelindiğinde biraz büyütme efekti */
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Gölgelendirme efekti */
    }
</style>
{% endblock %}
